<ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/Account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onAdd()" [formGroup]="userForm">
    <div>
    
      <ion-item>
        <ion-label position="floating">User Name</ion-label>
     
        <ion-input name="username" clearInput formControlName="name" placeholder="User Name"
          [ngClass]="{'is-invalid': submitted && f.name.errors}" required>
        </ion-input>

      </ion-item>
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required">
          <ion-text>User name is required</ion-text>
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
   
      <ion-input name="Email" clearInput formControlName="email" placeholder="Email"
        [ngClass]="{'is-invalid': submitted && f.email.errors}" required>
      </ion-input>
    </ion-item>
      <div *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required">
          <ion-text>Email is required</ion-text>
        </div>
      </div>
   
    <ion-item>
      <ion-label position="floating">Phone no</ion-label>
   
      <ion-input name="Phone no" clearInput formControlName="ph_no" placeholder="Phone no" type="number"
        [ngClass]="{'is-invalid': submitted && f.ph_noerrors}" minlength="10" maxlength="10" required>
      </ion-input>
    </ion-item>
      <div *ngIf="submitted && f.ph_no.errors">
        <div *ngIf="f.ph_no.errors.required">
          <ion-text>Phone no is required</ion-text>
        </div>
      </div>


      <ion-item>
        <ion-label>User Grant access</ion-label>
        <ion-select interface="popover" clearInput formControlName="user_level" placeholder="select access"
        [ngClass]="{'is-invalid': submitted && f.user_level.errors}" required>
          <ion-select-option value="View" >View and Partial Edit</ion-select-option>
          <ion-select-option value="Edit">Can Add and Edit</ion-select-option>
          <ion-select-option value="Full">Full Level</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="submitted && f.user_level.errors">
        <div *ngIf="f.user_level.errors.required">
          <ion-text>user_level is required</ion-text>
        </div>
      </div>
      
    
  
    <div style="padding:0px 13px">
    
        <ng-select style="margin-top: 10px;" [items]="items$ "
        bindLabel="name"
        bindValue="_id"
        [closeOnSelect]="true"
        [multiple]="true"
        [hideSelected]="true"
        [typeahead]="input$"
        placeholder="Add Buddy"
        formControlName="buddy"
        required>
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of (items ? items: [])">
            <span class="ng-value-label">{{ item.name }}({{item.email}})</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <!-- <div class="ng-value" *ngIf="items.length > 5" >
            <span class="ng-value-label">{{items.length - 2}} more...</span>
            <span class="ng-value-label">. . .</span>
          </div> -->
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
          <span >{{ item.name + ' (' + item.email + ')' }}</span>
    </ng-template>
      </ng-select>
     
    
    </div>
    
        <div style="padding:0px 13px">
    
          <ng-select  [items]="items$"
          bindLabel="name"
          bindValue="_id"
          [closeOnSelect]="true"
          [multiple]="true"
          [hideSelected]="true"
          [typeahead]="input$"
          placeholder="Reports to"
          formControlName="reportingTo"
          required>
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of (items ? items: [])">
              <span class="ng-value-label">{{ item.name }}({{item.email}})</span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
           
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
            <span >{{ item.name + ' (' + item.email + ')' }}</span>
          </ng-template>
        </ng-select>
      
      </div>

      <ion-item>
        <ion-label position="floating">Designation</ion-label>
     
        <ion-input name="Designation" clearInput formControlName="designation" placeholder="Designation"
          [ngClass]="{'is-invalid': submitted && f.designation.errors}" required>
        </ion-input>
      </ion-item>
        <div *ngIf="submitted && f.designation.errors">
          <div *ngIf="f.designation.errors.required">
            <ion-text>Designation is required</ion-text>
          </div>
        </div>

        <ion-accordion-group style="margin-bottom:2px">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Tasks that have been assigned are:</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
             <ion-list lines="none">
              <ion-item *ngFor="let task of tasks">
                {{task.task}}
              </ion-item>
             
             </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
       
        <ion-item>
          <ion-label position="floating">Team Name</ion-label>
       
          <ion-input name="team" clearInput formControlName="team" placeholder="Team name"
            [ngClass]="{'is-invalid': submitted && f.team.errors}" required>
          </ion-input>
        </ion-item>
          <div *ngIf="submitted && f.team.errors">
            <div *ngIf="f.team.errors.required">
              <ion-text>Team name is required</ion-text>
            </div>
          </div>
       
    
  
    <ion-button type="submit" style="align-content: center;display: flex;">Add</ion-button>
  
    


  </form>
</ion-content>
