ion-header{
    ion-toolbar {
        --background:#f1f5f8;
        background:#f1f5f8;
        padding:0 10px;

    }
}
ion-content{
    --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);

    .container{

        padding: 6px 20px;
        color: #ffffff;
        ion-item{
            --background:rgba(255,255,255,.1);
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: #FFFFFF;
            font-weight: 600;
      
            ion-label {
              padding: 6px 0;
      
              h4 {
                font-weight: 600;
                font-size: 16px;
              }
              h6 {
                color: rgba(255,255,255,.66);
              }
            }
        }
    }
}