<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="!account">
    <ion-item>
      <ion-label>
       
        <p>Listen,bro I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </div>
  <div id="container" *ngIf="account">
   
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>{{user?.name |titlecase}}</h2>
         
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Email</h3>
          <h2>{{user?.email}}</h2>
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Phone no</h3>
          <h2>{{user?.ph_no}}</h2>
        </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Designation</h3>
          <h2>{{user?.designation | titlecase}}</h2>
        </ion-label>
        
      </ion-item>

      <ion-accordion-group *ngIf="user?.buddy">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>My buddy</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
           <ion-list lines="none">
            <ion-item >
              {{user?.buddy.name}}
            </ion-item>
            <ion-item >
              {{user?.buddy.email}}
            </ion-item>
            <ion-item >
              {{user?.buddy.ph_no}}
            </ion-item>
           </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-accordion-group *ngIf="user?.reportingTo">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Reporting To</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
           <ion-list lines="none">
            <ion-item >
              {{user?.reportingTo.name}}
            </ion-item>
            <ion-item >
              {{user?.reportingTo.email}}
            </ion-item>
            <ion-item >
              {{user?.reportingTo.ph_no}}
            </ion-item>
           </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      
      <ion-accordion-group *ngIf="user?.mentorTo.length>0">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Mentor To</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
           <ion-list lines="none" *ngFor="let it of user?.mentorTo;let i=index">
            <ion-item >
             {{i}} {{it?.name}}
            </ion-item>
            <ion-item >
              {{it?.email}}
            </ion-item>
            <ion-item >
              {{it?.ph_no}}
            </ion-item>
           </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-item *ngIf="user?.user_level!=='View'" button (click)="buttonClick()" detail>
        <ion-label >
          <ion-text>Assign new Tasks to onboarding Users</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
    
   
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user?.user_level!=='View' && account">
    <ion-fab-button (click)="addUser()"  color="dark">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
